@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 80%;
  margin: auto;
}

.header_container {
  max-width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  transition: 0.5;
}

header {
  background-image: url("../image/home.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
}

.logo img {
  width: 100px;
  margin-top: 20px;
}

header .navbar {
  display: flex;
  align-items: center;
  height: 10vh;
}

header a {
  color: white;
  font-size: 14px;
}

header nav {
  flex: 1;
  text-align: right;
}

header nav ul {
  display: inline-block;
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin: 15px;
  transition: 0.5s;
}

header .navbar span {
  text-align: center;
  margin-left: 20px;
  color: white;
  font-size: 25px;
  display: none;
}

@media only screen and (max-width:768px) {
  header nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: max-height 0.5s;
    text-align: center;
  }

  header nav ul li {
    display: block;
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  header nav ul li a {
    color: white;
  }

  header .navbar span {
    color: white;
    display: block;
    cursor: pointer;
  }
}

/*-----home-----*/
.center {
  text-align: center;
}

.flex {
  display: flex;
}

img {
  width: 100%;
  height: 100%;
}

.left, .right {
  width: 50%;
}

.top {
  margin-top: 10%;
}

.mtop {
  margin-top: 5%;
}

.stop {
  margin-top: 3%;
}

.home .left,
.home .right {
  margin: auto;
}

.home .left {
  text-align: left;
}

.home .right {
  text-align: right;
  position: relative;
}

.home .right .img img {
  max-width: 500px;
}

.home .img1 img {
  position: absolute;
  left: 10%;
  width: 200px;
  height: 200px;
  bottom: -10%;
}

.home .img2 img {
  position: absolute;
  width: 400px;
  height: 400px;
  right: 0;
  top: 60%;
}

button {
  border: none;
  background: white;
  outline: none;
  padding: 12px 50px;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.home h1 {
  font-size: 150px;
  margin-bottom: 50px;
  font-style: italic;
  font-family: 'Tangerine', cursive;
}

/*-----home-----*/
/*----------header--------*/
/*----------food_items--------*/
.text_left {
  text-align: left;
}

.heading {
  max-width: 70%;
  margin: auto;
}

.heading h2 {
  margin-bottom: 20px;
  font-size: 80px;
  font-style: italic;
  font-family: 'Tangerine', cursive;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.btn1 {
  background: black;
  color: white;
}

.food_items img {
  width: 250px;
  height: auto;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.food_items .content p {
  text-align: left;
  margin-top: 10px;
  color: grey;
  font-size: 14px;
}

.food_items .content h3 {
  text-align: left;
  margin-top: 20px;
}

.food_items .btn1 {
  margin-top: 50px;
}

/*----------food_items--------*/
/*----------wrapper--------*/
p {
  font-weight: 100;
  word-spacing: 2px;
}

.wrapper {
  background: #27292C;
  color: white;
  padding: 30px;
}

.wrapper .box {
  margin: 30px;
}

/*----------wrapper--------*/
/*----------offer--------*/
.offer img {
  width: 400px;
  border-radius: 50%;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.3);
}

.offer .box1 {
  flex-direction: row-reverse;
}

.offer .right {
  text-align: left;
  margin: auto;
}

.offer .box .left {
  text-align: left;
}

.offer .box1 .left {
  text-align: right;
}

.offer h1 {
  font-size: 35px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

/*----------offer--------*/
/*----------wrapper1--------*/
.wrapper1 {
  position: relative;
}

.wrapper1 .heading {
  max-width: 100%;
  margin-top: 20px;
  padding-top: 30px;
}

.wrapper1 .img {
  top: 0;
  position: absolute;
  width: 65%;
}

/*----------wrapper1--------*/
/*----------services--------*/
.services .content h2 {
  margin-bottom: 20px;
  text-align: left;
  margin-top: 50px;
}

.services .content p {
  text-align: left;
  margin: 0;
}

.services p {
  font-size: 14px;
  margin-top: 100px;
  margin-bottom: 20px;
  color: grey;
}

/*----------services--------*/
/*----------newletter--------*/
.newletter {
  background: #27292C;
  color: white;
  padding: 50px;
  position: relative;
}

.newletter h1 {
  font-size: 50px;
  margin-bottom: 50px;
}

.input input {
  border: none;
  outline: none;
  padding: 15px;
  width: 100%;
  margin-top: 50px;
}

.input input:nth-child(2) {
  width: 30%;
  background: #56585c;
  color: white;
  border-radius: 0 50px 50px 0;
}

.input input:nth-child(1) {
  width: 70%;
  border-radius: 50px 0 0 50px;
}

/*----------newletter--------*/
/*----------footer--------*/
footer .grid {
  grid-template-columns: repeat(4, 1fr);
}

footer img {
  width: 50px;
  height: 50px;
}

footer h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

footer .icon i {
  background: black;
  color: white;
  padding: 10px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 10px;
}

ul {
  list-style: none;
}

p,
ul li {
  margin-bottom: 10px;
  color: grey;
}

.legal {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: black;
}

/*----------footer--------*/
@media only screen and (max-width:768px) {
  .flex {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }

  .food_items .content p,
  .food_items .content h3 {
    text-align: center;
  }

  footer .grid,
  .grid {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .offer .box1 {
    flex-direction: column;
  }

  .offer .box1 .right,
  .offer .box .right,
  .offer .box .left,
  .offer .box1 .left {
    text-align: center;
    margin-top: 20px;
  }

  /*----------wrapper1--------*/
  .wrapper1 {
    height: 50vh;
  }

  .wrapper1 .img {
    top: 20%;
  }

  /*----------wrapper1--------*/
  /*----------services--------*/
  .services {
    text-align: center;
  }

  .services .box p,
  .services .box h2 {
    text-align: center;
  }

  /*----------services--------*/
  /*----------newletter--------*/
  .input {
    flex-direction: row;
  }

  /*----------newletter--------*/
}

@media only screen and (max-width:511px) {
  .home h1 {
    font-size: 50px;
  }

  .heading h2 {
    font-size: 40px;
  }

  .offer img {
    width: 200px;
  }
}